@using DataLibrary
@using Microsoft.Extensions.Configuration
@using System.Linq

@inject IDataAccess _data
@inject IConfiguration _config

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage
@inject StateContainer StateContainer

@if (ViewMode == "GridView")
{
    <div class="product-grid">
        <div class="product-image">
            <a href="@ProductModel.ProductViewUrl" class="image">
                <img class="pic-1 img-fluid" src="@ProductModel.ImagePath">
                @*<img class="pic-2" src="images/img-2.jpg">*@
            </a>
            <span class="badge bg-success product-sale-label">NÝTT</span>
            @if (ProductModel.Discount != 0)
            {
                <span class="badge bg-danger product-discount-label">-@(ProductModel.Discount)%</span>
            }
        </div>
        <div class="product-content">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between" style="padding: 0 12px;">
                    <span class="category text-muted">@ProductModel.Category</span>
                    <div>
                        <ul class="rating">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star disable"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col title">
                    <a href="@ProductModel.ProductViewUrl" style="text-decoration: none;">@ProductModel.Name</a>
                </div>
            </div>
            <div class="row">
                <div class="col description">
                    <a href="@ProductModel.ProductViewUrl" style="text-decoration: none;">@ProductModel.Description</a>
                </div>
            </div>
            <div class="row pb-2">
                <div>
                    <a class="badge bg-light rounded-pill product-store-label" href="@ProductModel.StoreUrl" style="text-decoration: none;"><i class="fas fa-store"></i> @ProductModel.Seller</a>
                </div>
            </div>
            <div class="row">
                @if (ProductModel.InStock && ProductModel.Quantity > 0)
                {
                    <div><span class="badge bg-success product-stock-label">á goymslu @*(@(ProductModel.Quantity))*@</span></div>
                }
                else
                {
                    <div><span class="badge bg-warning product-stock-label">ikki á goymslu</span></div>
                }
            </div>
            <div class="row">
                <div class="col">
                    @if (ProductModel.Discount != 0)
                    {
                        <div class="price">
                            <span>
                                @ProductModel.Price.ToString("N2")KR
                            </span> @ProductModel.GetDiscountPrice.ToString("N2")KR
                        </div>
                    }
                    else
                    {
                        <div class="price">
                            @ProductModel.Price.ToString("N2")KR
                        </div>
                    }
                </div>
            </div>
            <AuthorizeView>
                <Authorized>
                    @if (ProductModel.Seller == context.User.Identity.Name)
                    {
                        <hr />

                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="w-100 btn btn-warning btn-md" @onclick="ShowEditModal"><i class="fas fa-edit"></i></button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="w-100 btn btn-danger btn-md" @onclick="ShowDeleteModal"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>

                        @if (showEdit)
                        {
                            <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Dagfør vøru</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideEditModal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <EditProduct Product="@ProductModel" Seller="@context.User.Identity.Name" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideEditModal">Lat aftur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (showDelete)
                        {
                            <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Vátta vørustrikan</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideDeleteModal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Er tað vist, at vøran við heitinum "@ProductModel.Name" skal strikast?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideDeleteModal">Angra</button>
                                            <button type="button" class="btn btn-danger" @onclick="Delete">Strika vøru</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (context.User.IsInRole("Admin"))
                    {
                        @if (ProductModel.InStock && ProductModel.Quantity > 0)
                        {
                            <div class="product-button-group">
                                <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                                <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="product-button-group">
                                <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                                <SfTooltip ID="Tooltip" Target="#btn" Content="@Content">
                                    <a id="btn" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </SfTooltip>
                                <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                            </div>
                        }
                        <hr />

                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="w-100 btn btn-warning btn-md" @onclick="ShowEditModal"><i class="fas fa-edit"></i></button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="w-100 btn btn-danger btn-md" @onclick="ShowDeleteModal"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>

                        @if (showEdit)
                        {
                            <div class="modal modal-dialog-centered" tabindex="-1">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Dagfør vøru</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideEditModal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <EditProduct Product="@ProductModel" Seller="@context.User.Identity.Name" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideEditModal">Lat aftur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (showDelete)
                        {
                            <div class="modal modal-dialog-centered" tabindex="-1">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Vátta vørustrikan</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideDeleteModal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Er tað vist, at vøran við heitinum "@ProductModel.Name" skal strikast?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideDeleteModal">Angra</button>
                                            <button type="button" class="btn btn-danger" @onclick="Delete">Strika vøru</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @if (ProductModel.InStock && ProductModel.Quantity > 0)
                        {
                            <div class="product-button-group">
                                <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                                <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="product-button-group">
                                <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                                <SfTooltip ID="Tooltip" Target="#btn" Content="@Content">
                                    <a id="btn" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </SfTooltip>
                                <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                            </div>
                        }
                    }
                </Authorized>
                <NotAuthorized>
                    @if (ProductModel.InStock && ProductModel.Quantity > 0)
                    {
                        <div class="product-button-group">
                            <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                            <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                            <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                        </div>
                    }
                    else
                    {
                        <div class="product-button-group">
                            <a class="product-like-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-heart"></i></a>
                            <SfTooltip ID="Tooltip" Target="#btn" Content="@Content">
                                <a id="btn" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                            </SfTooltip>
                            <a class="product-share-icon" href="#" style="border-radius: 10rem;"><i class="fas fa-share-alt"></i></a>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
}
@if (ViewMode == "ListView")
{
<div class="product-grid">
    <div class="product-card">
        <div class="image">
            <img src="@ProductModel.ImagePath" style="min-height: 200px; max-height: 200px;" alt="">
        </div>
        <div class="card-content">
            <div class="store-purchase mb-2">
                <span class="badge bg-success">NÝTT</span>&nbsp;
                @if (ProductModel.Discount != 0)
                {
                    <span class="vadge bg-danger product-discount-label">-@(ProductModel.Discount)%</span>
                }
            </div>
            <div class="row">
                <span class="category text-muted">@ProductModel.Category</span>
            </div>
            <h5 class="text-info">@ProductModel.Name</h5>
            <p class="text-info">@ProductModel.Description</p>
            <div class="row">
                @if (ProductModel.InStock && ProductModel.Quantity > 0)
                {
                    <div><span class="badge bg-success product-stock-label">á goymslu @*(@(ProductModel.Quantity))*@</span></div>
                }
                else
                {
                    <div><span class="badge bg-warning product-stock-label">ikki á goymslu</span></div>
                }
            </div>
            <div class="store-purchase">
                @if (ProductModel.Discount != 0)
                {
                    <div class="price">
                        <span>
                            @ProductModel.Price.ToString("N2")KR
                        </span> @ProductModel.GetDiscountPrice.ToString("N2")KR
                    </div>
                }
                else
                {
                    <div class="price">
                        @ProductModel.Price.ToString("N2")KR
                    </div>
                }
                <br />
                <AuthorizeView>
                    <Authorized>
                        @if (ProductModel.Seller == context.User.Identity.Name)
                        {
                            @if (ProductModel.InStock && ProductModel.Quantity > 0)
                            {
                                <div class="product-button-group">
                                    <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </div>
                            }
                            else
                            {
                                <div class="product-button-group">
                                    <SfTooltip ID="Tooltip" Target="#btn1" Content="@Content">
                                        <a id="btn1" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                    </SfTooltip>
                                </div>
                            }
                        }
                        else if (!context.User.IsInRole("Admin"))
                        {
                            @if (ProductModel.InStock && ProductModel.Quantity > 0)
                            {
                                <div class="product-button-group">
                                    <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </div>
                            }
                            else
                            {
                                <div class="product-button-group">
                                    <SfTooltip ID="Tooltip" Target="#btn1" Content="@Content">
                                        <a id="btn1" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                    </SfTooltip>
                                </div>
                            }
                        }
                        else
                        {
                            @if (ProductModel.InStock && ProductModel.Quantity > 0)
                            {
                                <div class="product-button-group">
                                    <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </div>
                            }
                            else
                            {
                                <div class="product-button-group">
                                    <SfTooltip ID="Tooltip" Target="#btn1" Content="@Content">
                                        <a id="btn1" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                    </SfTooltip>
                                </div>
                            }
                        }
                    </Authorized>
                    <NotAuthorized>
                        @if (ProductModel.InStock && ProductModel.Quantity > 0)
                        {
                            <div class="product-button-group">
                                <a class="add-to-cart btn btn-primary" role="button" @onclick="AddToCart" style="border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                            </div>
                        }
                        else
                        {
                            <div class="product-button-group">
                                <SfTooltip ID="Tooltip" Target="#btn1" Content="@Content">
                                    <a id="btn1" class="add-to-cart btn btn-primary" role="button" style="font-family: Oswald; border-radius: 10rem;"><i class="fa fa-shopping-bag"></i>LEGG Í KURV</a>
                                </SfTooltip>
                            </div>
                        }
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            @if (ProductModel.Seller == context.User.Identity.Name)
            {
                <hr />

                <div class="row">
                    <div class="col-6">
                        <button type="button" class="w-100 btn btn-warning btn-md" @onclick="ShowEditModal"><i class="fas fa-edit"></i></button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="w-100 btn btn-danger btn-md" @onclick="ShowDeleteModal"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>

                @if (showEdit)
                {
                    <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Dagfør vøru</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideEditModal"></button>
                                </div>
                                <div class="modal-body">
                                    <EditProduct Product="@ProductModel" Seller="@context.User.Identity.Name" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideEditModal">Lat aftur</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (showDelete)
                {
                    <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Vátta vørustrikan</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideDeleteModal"></button>
                                </div>
                                <div class="modal-body">
                                    Er tað vist, at vøran við heitinum "@ProductModel.Name" skal strikast?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideDeleteModal">Angra</button>
                                    <button type="button" class="btn btn-danger" @onclick="Delete">Strika vøru</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (context.User.IsInRole("Admin"))
            {
                <hr />

                <div class="row">
                    <div class="col-6">
                        <button type="button" class="w-100 btn btn-warning btn-md" @onclick="ShowEditModal"><i class="fas fa-edit"></i></button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="w-100 btn btn-danger btn-md" @onclick="ShowDeleteModal"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>

                @if (showEdit)
                {
                    <div class="modal modal-dialog-centered" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Dagfør vøru</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideEditModal"></button>
                                </div>
                                <div class="modal-body">
                                    <EditProduct Product="@ProductModel" Seller="@context.User.Identity.Name" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideEditModal">Lat aftur</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (showDelete)
                {
                    <div class="modal modal-dialog-centered" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Vátta vørustrikan</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideDeleteModal"></button>
                                </div>
                                <div class="modal-body">
                                    Er tað vist, at vøran við heitinum "@ProductModel.Name" skal strikast?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideDeleteModal">Angra</button>
                                    <button type="button" class="btn btn-danger" @onclick="Delete">Strika vøru</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <br />
        </Authorized>
    </AuthorizeView>
</div>
}
@if (ViewMode == "ProductView")
{
    IsInProductView = true;

    <div class="row wow fadeIn">

        <div class="col-md-6 mb-4">

            <img src="@ProductModel.ImagePath" style="min-height: 300px; max-height: 300px;" class="img-fluid" alt="">

        </div>
        <div class="col-md-6 mb-4">

            <div class="p-4">

                <div class="mb-3">
                    <a href="">
                        <span class="badge bg-info mr-1">@ProductModel.Category</span>
                    </a>
                    <a href="">
                        <span class="badge bg-success mr-1">NÝTT</span>
                    </a>
                    <a href="">
                        @if (ProductModel.Discount != 0)
                        {
                            <span class="badge bg-danger mr-1">-@(ProductModel.Discount)%</span>
                        }
                    </a>
                </div>

                <p class="lead font-weight-bold text-info">@ProductModel.Name</p>

                <p class="text-info">
                    @ProductModel.Description
                </p>

                @if (ProductModel.InStock && ProductModel.Quantity > 0)
                {
                    <p><span class="badge bg-success product-stock-label">á goymslu @*(@(ProductModel.Quantity))*@</span></p>
                }
                else
                {
                    <p><span class="badge bg-warning product-stock-label">ikki á goymslu</span></p>
                }

                <p class="lead">
                    @if (ProductModel.Discount != 0)
                    {
                        <div class="price">
                            <span>
                                @ProductModel.Price.ToString("N2")KR
                            </span> @ProductModel.GetDiscountPrice.ToString("N2")KR
                        </div>
                    }
                    else
                    {
                        <div class="price">
                            @ProductModel.Price.ToString("N2")KR
                        </div>
                    }
                </p>

                @if (ProductModel.InStock && ProductModel.Quantity > 0)
                {
                    <div class="d-inline-flex">
                        <input type="number" @bind="@Quantity" aria-label="Search" class="form-control" style="width: 100px">
                        <button class="btn btn-info btn-md my-0 p" type="button" @onclick="AddToCart"><i class="fas fa-shopping-bag ml-1"></i> LEGG Í KURV</button>
                    </div>
                }
                else
                {
                    <div class="d-inline-flex">
                        <input type="number" @bind="@Quantity" aria-label="Search" class="form-control" style="width: 100px">
                        <SfTooltip ID="Tooltip" Target="#btn2" Content="@Content">
                            <button id="btn2" class="btn btn-info btn-md my-0 p" type="button"><i class="fas fa-shopping-bag ml-1"></i> LEGG Í KURV</button>
                        </SfTooltip>
                    </div>
                }

            </div>

        </div>

    </div>
}

@code {
    [CascadingParameter] CartStateProvider CartStateProvider { get; set; }

    [Parameter] public ProductModel ProductModel { get; set; }
    [Parameter] public string ViewMode { get; set; }
    [Parameter] public EventCallback<bool> GetBackdrop { get; set; }

    private string bgColor = "bg-light";
    private string Content = "Vøran er ikki á goymslu í løtuni";

    private bool showEdit = false;
    private bool showDelete = false;

    private bool IsInProductView = false;
    private int Quantity = 1;

    private bool showBackdrop = false;

    private void ShowEditModal()
    {
        GetBackdrop.InvokeAsync(ToggleBackdrop());
        this.showEdit = true;
    }

    private void ShowDeleteModal()
    {
        GetBackdrop.InvokeAsync(ToggleBackdrop());
        this.showDelete = true;
    }

    private void HideEditModal()
    {
        GetBackdrop.InvokeAsync(ToggleBackdrop());
        this.showEdit = false;
    }

    private void HideDeleteModal()
    {
        GetBackdrop.InvokeAsync(ToggleBackdrop());
        this.showDelete = false;
    }

    public bool ToggleBackdrop()
    {
        if (this.showBackdrop)
        {
            this.showBackdrop = false;
        }
        else
        {
            this.showBackdrop = true;
        }

        return this.showBackdrop;
    }

    public async Task AddToCart()
    {
        bool sameItem = false;

        if (CartStateProvider != null && CartStateProvider.Cart.CartItems.Count > 0)
        {
            foreach (var item in CartStateProvider.Cart.CartItems)
            {
                if (ProductModel.Name == item.Product.Name)
                {
                    if (IsInProductView)
                    {
                        sameItem = true;
                        item.Quantity = item.Quantity + this.Quantity;

                        await CartStateProvider.SaveChangesAsync();
                    }
                    else
                    {
                        sameItem = true;
                        item.Quantity++;

                        await CartStateProvider.SaveChangesAsync();
                    }
                }
            }
        }

        if (sameItem == false)
        {
            var CartItem = new CartItemModel();

            if (IsInProductView)
            {
                CartItem = new CartItemModel
                {
                    Product = ProductModel,
                    Quantity = this.Quantity
                };
            }
            else
            {
                CartItem = new CartItemModel
                {
                    Product = ProductModel,
                    Quantity = 1
                };
            }

            CartStateProvider.Cart.CartItems.Add(CartItem);

            await CartStateProvider.SaveChangesAsync();

            this.Quantity = 1;
        }
    }

    protected async Task<bool> Delete()
    {
        try
        {
            string sql = "delete from products where ProductID = @ProductID";
            await _data.SaveData(sql, new { ProductID = ProductModel.ProductID }, _config.GetConnectionString("default"));

            HideDeleteModal();

            return await Task.FromResult(true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);

            return await Task.FromResult(false);
        }
    }

    public void Dispose()
    {
        CartStateProvider.OnChange -= StateHasChanged;
    }
}