@using DataLibrary
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" style="height: 292px;">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> Kundar
        </div>
        <div class="category-wrapper card-body" style="height: 211.33px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Navn</th>
                        <th>Teldupostur</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Navn</th>
                        <th>Teldupostur</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in Users)
                    {
                        if (user.Role == this.CustomerRole)
                        {
                            <tr>
                                <td>@user.UserID</td>
                                <td>@user.FirstName @user.LastName</td>
                                <td>@user.Email</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" style="height: 292px;">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-users"></i> Fyritøkur
        </div>
        <div class="category-wrapper card-body" style="height: 211.33px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Navn</th>
                        <th>Ábyrgd</th>
                        <th>Teldupostur</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Navn</th>
                        <th>Ábyrgd</th>
                        <th>Teldupostur</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in Users)
                    {
                        if (user.Role == this.CompanyRole)
                        {
                            <tr>
                                <td>@user.UserID</td>
                                <td>@user.CompanyName</td>
                                <td>@user.FirstName @user.LastName</td>
                                <td>@user.Email</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

@code {
    [Parameter] public string CustomerRole { get; set; }
    [Parameter] public string CompanyRole { get; set; }

    private List<UserModel> Users;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    protected async Task<bool> LoadUsers()
    {
        try
        {
            string sql = "select * from users";
            Users = await _data.LoadData<UserModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));

            return await Task.FromResult(true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);

            return await Task.FromResult(false);
        }
    }
}
