@inject StateContainer StateContainer

<div class="control-wrapper">
    <div class="slider-content-wrapper">
        <div class="slider_container">
            @if (StateContainer.PriceRange != null)
            {
                <div class="@ThemeClass">@StateContainer.PriceRange[0] - @StateContainer.PriceRange[1]</div>
            }
            else
            {
                <div class="@ThemeClass">0 - 50000</div>
            }

            <SfSlider Min="0" Max="50000" @bind-Value="@Value" Type=SliderType.Range TValue="double[]" ID="slider">
                <SliderTicks ShowSmallTicks="true" LargeStep="100" SmallStep="50"></SliderTicks>
                <SliderEvents TValue="double[]" OnChange="OnSliderChange" Created="OnSliderCreated"></SliderEvents>
            </SfSlider>
        </div>
    </div>
</div>

@code {
    public double[] Value;
    public string ThemeClass;

    [Parameter] public string Theme { get; set; }

    private void SetTheme()
    {
        if (Theme == "Dark")
        {
            this.ThemeClass =
                "text-sm-center " +
                "text-light";
        }
        if (Theme == "Light")
        {
            this.ThemeClass =
                "text-sm-center " +
                "text-muted";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        SetTheme();
    }

    public void OnSliderChange(SliderChangeEventArgs<double[]> Args)
    {
        SetRangeState();
    }

    public void OnSliderCreated()
    {
        //SetRangeState();
    }

    private void SetRangeState()
    {
        StateContainer.GetPriceRangeState(Value);
    }
}

<style>
    .userselect {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

    #slider.e-control.e-slider .e-handle {
        height: 25px;
        width: 8px;
        top: 3px;
        border-radius: 15px;
        background-color: #0e3976;
    }

    #slider.e-tab-handle::after {
        background-color: #f9920b;
    }

    #slider.e-control.e-slider .e-slider-track {
        height: 8px;
        top: calc(50% - 4px);
        border-radius: 0;
    }

    .e-control-wrapper.e-slider-container .e-slider .e-range {
        background-color: #0e3976;
    }

    .highcontrast #slider.e-control.e-slider .e-slider-track {
        height: 10px;
        top: calc(50% - 5px);
        border-radius: 0;
    }

    .fabric .slider_container .e-slider-hover .e-slider-track,
    .fabric .slider_container .e-slider-container:active .e-slider-track,
    .fabric .slider_container .e-slider-container .e-slider .e-tab-track {
        background-color: #c8c8c8;
    }
</style>